/.vscode
/01.jl
/02_LorenzAttractor.jl
/attractor.jl
/LinearAlgebra.jl
/NBodyProblem.jl
/N_BodyP
/N_BodyProblem.jl
/path_to_animated_particles.gif
/planets.gif
/Planets2.jl
/planets3.jl
/Planets5Sun2D.jl
/Planets8andSun3d.jl
/PlanetsOuterSolarSystem.jl
/PlanetsSun.jl
/PlanetsSun2DzeroV3.jl
/SolarSystem.gif
/SolarSystem3D.gif
/Solar_System.jl
/Solar_verlet.gif
/Taylor4.jl
/Taylor4_v2_ChangingK1.jl
/Taylor4_v2_ChangingK2.jl
/Taylor4_v3.2_ChangingK2.jl